<li class="{{status}} row">
    <a href="{{url}}" class="col-xs-4">{{name}}</a>
    {{#with distance}}
    <button name="distance-btn" class="col-xs-4" type="button">{{name}} distance</button>
    {{/with}}
    <span class="status col-xs-4">{{time}} min left</span>
    
    {{#with distance}}
    <div class="distance-flyout flyout">
        <button type="button" name="close">close</button>
        {{description}}
    </div>
    {{/with}}
</li>