<header class="clearfix">
  <h1 class="header-text pull-left">Freedom Beacon</h1>
  <button name="logout" class="pull-right btn btn-link" type="button">logout</button>
</header>

<main role="main" class="container">
  <form name="main-timer-form" class="group-end" action="/beacons" method="post">
      {{#if isDeactivated}}
        {{> main-beacon this}}
      {{else}}
          <label class="timer-label group-end">
              I am free for
              <input type="text" max="60" min="1" value="{{timerValue}}" name="main-timer" data-min="{{userTime}}" data-sec="0" class="disabled-timer {{altC}}" disabled>
              minutes
          </label>
          <button type="submit" class="btn btn-lg beacon-btn deactivate">No longer free</button>
      {{/if}}
  </form>
  
  {{#unless isB}}
    <div class="friends"></div>
  {{else}}
    {{#unless isDeactivated}}
    <div class="friends"></div>
    {{/unless}}
  {{/unless}}
</main>