<h2>Friends</h2>

{{#with friends}}
<h3>Friends who've pinged you</h3>
<ul class="friends list-unstyled">
    {{#each pinging}}
    <li class="pinging">
        <a class="row" href="/conversations/{{id}}">
            <span class="col-xs-4">{{name}}</span>
            <span class="col-xs-4">{{distance}} distance</span>
        </a>
    </li>
    {{/each}}
</ul>

<h3>Free friends</h3>
<ul class="friends list-unstyled">
    {{#each free}}
    <li class="free">
        <a role="button" class="row" href="#">
            <span class="col-xs-4">{{name}}</span>
            <span class="col-xs-4">{{distance}} distance</span>
            <span class="status col-xs-4">{{time}} min left</span>
        </a>
    </li>
    {{/each}}
</ul>

<h3>Offline friends</h3>
<ul class="friends list-unstyled">
    {{#each offline}}
    <li class="offline">
        <a role="button" class="row" href="#">
            <span class="col-xs-4">{{name}}</span>
            <span class="col-xs-4">{{distance}} distance</span>
            <span class="status col-xs-4"></span>
        </a>
    </li>
    {{/each}}
</ul>
{{/with}}