{{#if hasFriends}}
    <h2>Free friends</h2>
    {{#if freeFriends}}
        <ul class="free list-unstyled">
            {{#each freeFriends}}
            <li data-friend-id="{{friendId}}" data-fb-id="{{fbId}}">
                <div class="row">
                    <span class="col-xs-3">
                        {{> favorite-button this}}
                    </span>
                    <span class="friend-name col-xs-5">{{name}}</span>
                    <span class="col-xs-4">
                        <button type="button" class="btn btn-default msg-btn">Message</button>
                    </span>
                </div>
                <div class="row">
                    {{#if distance}}
                        {{#with distance}}
                        <div class="col-xs-5 col-xs-offset-3">
                            <button
                                    class="distance-link btn btn-link"
                                    type="button"
                                    aria-haspopup="true"
                                    aria-controls="dist_{{friendId}}"
                            >
                                {{name}} distance
                            </button>
                            <div class="flyout distance-flyout" id="dist_{{friendId}}">
                                <div class="clearfix">
                                    <button class="close-btn pull-right" type="button">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        <!--close-->
                                    </button>
                                </div>
                                {{description}}
                            </div>
                        </div>
                        {{/with}}
                    {{else}}
                        <span class="col-xs-5 col-xs-offset-3">Distance N/A</span>
                    {{/if}}
                    <span class="col-xs-4">{{time}} min left</span>
                </div>
            </li>
            {{/each}}
        </ul>
        <div class="js-invite-link-holder">
            <button
                    class="invite-link btn btn-link"
                    type="button"
                    aria-haspopup="true"
                    aria-controls="more-invite"
            >
                Invite more friends
            </button>
        </div>
        <div class="invite-flyout flyout" id="more-invite"></div>
    {{else}}
        <p>None of your Facebook friends are free.</p>
        <p>
            Would you like to
            <button
                    class="invite-link btn btn-link"
                    type="button"
                    aria-haspopup="true"
                    aria-controls="free-invite"
            >
                invite more friends
            </button>
            ?
        </p>
        <div class="invite-flyout flyout" id="free-invite"></div>
    {{/if}}
    
    <h2>Offline friends</h2>
    {{#if offlineFriends}}
        <ul class="offline list-unstyled">
            {{#each offlineFriends}}
            <li class="row" data-friend-id="{{friendId}}" data-fb-id="{{fbId}}">
                <span class="col-xs-3">
                    {{> favorite-button this}}
                </span>
                <span class="col-xs-5 friend-name">{{name}}</span>
            </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No friends are offline right now.</p>
    {{/if}}
{{else}}
    <p>None of your Facebook friends are on Freedom Beacon.</p>
    <p>
        Would you like to
        <button
                class="invite-link btn btn-link"
                type="button"
                aria-haspopup="true"
                aria-controls="none-invite"
        >
            invite them
        </button>
        ?
    </p>
    <div class="invite-flyout flyout" id="none-invite"></div>
{{/if}}