{{#if hasFriends}}
    <h2>Free friends</h2>
    {{#if freeFriends}}
        <ul class="free list-unstyled">
            {{#each freeFriends}}
            <li data-friend-id="{{friendId}}" data-fb-id="{{fbId}}">
                <div class="row">
                    {{> favorite-button this}}
                    <span class="friend-name col-xs-5">{{name}}</span>
                    <span class="col-xs-4">
                        <button type="button" class="btn btn-default msg-btn">Message</button>
                    </span>
                </div>
                <div class="row">
                    {{#if distance}}
                        {{#with distance}}
                        <div class="col-xs-5 col-xs-offset-3">
                            <button class="distance-link btn btn-link" type="button">{{name}} distance</button>
                            <div class="flyout distance-flyout">
                                <div class="clearfix">
                                    <button class="close-btn pull-right" type="button"><span class="glyphicon glyphicon-remove"></span> close</button>
                                </div>
                                {{description}}
                            </div>
                        </div>
                        {{/with}}
                    {{else}}
                        <span class="col-xs-5 col-xs-offset-3">Distance N/A</span>
                    {{/if}}
                    <span class="col-xs-4">{{time}} min left</span>
                </div>
            </li>
            {{/each}}
        </ul>
        <div><button class="invite-link btn btn-link" type="button">Invite more friends</button></div>
        <div class="invite-flyout flyout"></div>
    {{else}}
        <p>None of your Facebook friends are free.</p>
        <p>Would you like to <button class="invite-link btn btn-link" type="button">invite more friends</button>?</p>
        <div class="invite-flyout flyout"></div>
    {{/if}}
    
    <h2>Offline friends</h2>
    {{#if offlineFriends}}
        <ul class="offline list-unstyled">
            {{#each offlineFriends}}
            <li class="row" data-friend-id="{{friendId}}" data-fb-id="{{fbId}}">
                {{> favorite-button this}}
                <span class="col-xs-5 friend-name">{{name}}</span>
            </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No friends are offline right now.</p>
    {{/if}}
{{else}}
    <p>None of your Facebook friends are on Freedom Beacon.</p>
    <p>Would you like to <button class="invite-link btn btn-link" type="button">invite them</button>?</p>
    <div class="invite-flyout flyout"></div>
{{/if}}