<h2>Free friends</h2>
<table class="free">
    {{#each freeFriends}}
    <tr>
        {{> favorite-button this}}
        <td><a href="https://facebook.com/messages/{{fbUsername}}">{{name}}</a></td>
        {{#with distance}}
        <td>
            <a class="distance-link" href="#">{{name}} distance</a>
            <div class="flyout distance-flyout">
                <button name="close-btn" type="button"><span class="glyphicon glyphicon-remove"></span> close</button>
                {{description}}
            </div>
        </td>
        {{/with}}
        <td>{{time}} min left</td>
    </tr>
    {{/each}}
</table>

<h2>Offline friends</h2>
<table class="offline">
    {{#each offlineFriends}}
    <tr>
        {{> favorite-button this}}
        <td>{{name}}</td>
    </tr>
    {{/each}}
</table>