<header class="jumbotron" id="main-header">
    <h1 id="main-heading">Freedom Beacon</h1>
    <button class="btn btn-lg btn-primary" id="beacon">illuminate beacon</button>
    
    <div id="user-time-box">
        <input type="number" id="user-time" name="user-time" max="60" min="1" value="0" disabled>
        m left
    </div>
</header>

<main role="main">
    <h2 class="heading">Your Flock</h2>
    <ul class="list-unstyled container" id="flock">
        {{#each flock}}
            {{#if free}}
            <li class="free">
                <a class="row" href="#"><span class="col-xs-6">{{name}}</span><span class="col-xs-6">free</span></a>
                <a class="flyout" href="#">{{name}}'s Location</a>
            {{else}}
            <li class="unfree">
                <a class="row" href="#"><span class="col-xs-6">{{name}}</span><span class="col-xs-6">{{time}}m left</span></a>
                <div class="flyout">Sending your location... <a class="undo" href="#">Undo</a></div>
            {{/if}}
            </li>
        {{/each}}
    </ul>
</main>
